*{
box-sizing:border-box;
}


body{

margin:0;
height:100vh;

background:black;

color:#39ff14;

font-family:"Courier New", monospace;

overflow:hidden;

}



.screen{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

}



#terminal{

font-size:22px;

line-height:35px;

text-align:center;

text-shadow:
0 0 5px #39ff14,
0 0 20px #39ff14;

}



#countdown{

display:none;

font-size:80px;

font-weight:bold;

text-shadow:
0 0 10px #39ff14,
0 0 30px #39ff14;

}



body:after{

content:"";

position:absolute;

inset:0;

pointer-events:none;

background:

repeating-linear-gradient(
0deg,
rgba(255,255,255,0.05),
rgba(255,255,255,0.05) 1px,
transparent 2px,
transparent 4px
);

}



@keyframes glitch{

0%{
opacity:1;
}

50%{
opacity:.7;
}

100%{
opacity:1;
}

}


#terminal{

animation:glitch .15s infinite;

}