*{
box-sizing:border-box;
}


body{

margin:0;
height:100vh;

background:black;

color:#39ff14;

font-family:
"Courier New",
monospace;

overflow:hidden;

}


.crt{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

position:relative;

}


/* CRT scanlines */

.crt:after{

content:"";

position:absolute;

inset:0;

background:

repeating-linear-gradient(
0deg,
rgba(255,255,255,.05),
rgba(255,255,255,.05) 1px,
transparent 2px,
transparent 4px
);

pointer-events:none;

}


/* boot */

#boot{

position:absolute;

font-size:20px;

animation:flicker .15s infinite;

}



.terminal{

display:none;

text-align:center;

width:90%;

}



.logo{

font-size:60px;

font-weight:bold;

text-shadow:
3px 0 red,
-3px 0 blue;

animation:glitch .8s infinite;

}



#output{

margin-top:40px;

font-size:22px;

line-height:35px;

}



.cursor{

animation:blink 1s infinite;

}



@keyframes blink{

50%{
opacity:0;
}

}


@keyframes glitch{

0%{
transform:translate(0);
}

20%{
transform:translate(-3px,2px);
}

40%{
transform:translate(3px,-2px);
}

}


@keyframes flicker{

0%{
opacity:1;
}

50%{
opacity:.5;
}

100%{
opacity:1;
}

}


/* TIMER */

#timer{

text-align:center;
margin:60px auto;
font-size:35px;
border:2px solid #00ff66;
padding:30px;
width:70%;
box-shadow:0 0 30px #00ff66;

}


#countdown{

font-size:70px;
color:#00ff66;
font-weight:bold;

}

50%{
opacity:.5;
}

}
